@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jebxzy');
    src:  url('../fonts/icomoon.eot?jebxzy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jebxzy') format('truetype'),
        url('../fonts/icomoon.woff?jebxzy') format('woff'),
        url('../fonts/icomoon.svg?jebxzy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff'),
        url('../fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Medium'), local('Mulish-Medium'),
        url('../fonts/Mulish-Medium.woff2') format('woff2'),
        url('../fonts/Mulish-Medium.woff') format('woff'),
        url('../fonts/Mulish-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
        url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('../fonts/Mulish-SemiBold.woff') format('woff'),
        url('../fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Extra Bold'), local('Mulish-Extra-Bold'),
        url('../fonts/Mulish-ExtraBold.woff2') format('woff2'),
        url('../fonts/Mulish-ExtraBold.woff') format('woff'),
        url('../fonts/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Federov2';
    src: local('Federov2'),
        url('../fonts/Federov2-Regular.woff2') format('woff2'),
        url('../fonts/Federov2-Regular.woff') format('woff'),
        url('../fonts/Federov2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
html,
body {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    font-size: 18px;
    color: #636A83;
}

/* Other style */
.icofont:before {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.container {
    width: 100%;
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin-right: 16px;
    position: relative;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li:first-child a {
    padding-left: 33px;
}
.menu li:first-child a:before{
    content: '\e900';
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    font-size: 24px;
    left: 0;
    top: 0;
    color: inherit;
}
.menu a {
    font-size: 16px;
    line-height: 130%;
    color: #0C194A;
    transition: color 0.4s;
}
.menu a:hover {
    color: #0063E0;
}
.line_block {
    padding-left: 95px;
    position: relative;
}
.line_block p {
    color: #636A83;
}
.line_block:after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #FFDC21;
    position: absolute;
    left: 0;
    top: 12px;
}
.line_block.content span {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #636A83;
    margin-bottom: 20px;
}
.line_block.content ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #0C194A;
    padding-left: 30px;
}
.line_block.content p {
    font-size: 18px;
    line-height: 1.2;
    color: #0C194A;
    margin-bottom: 18px;
}
.line_block.content p.line {
    padding-bottom: 20px;
    position: relative;
}
.line_block.content p.line:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: #FFDC21;
}
.line_block.content span:last-child,
.line_block.type1 p:last-child {
    margin-bottom: 0;
}
.line_block.content,
.line_block.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.line_block.content .col {
    width: 100%;
}
.line_block.type1 .col_left {
    width: 450px;
}
.line_block.type1 .col_right {
    width: calc(100% - 575px);
}

.line_block.type2 .col_left {
    width: calc(100% - 765px);
    margin-bottom: 18px;
}
.line_block.type2 .col_right {
    width: 740px;
    margin-bottom: 18px;
}
.line_block.type2 p {
    margin-bottom: 0;
}
.button {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
    background: #045DCD;
    display: inline-block;
    padding: 25px 68px 25px 28px;
    position: relative;
}
.button:before {
    content: '\e905';
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 32px;
    position: absolute;
    right: 28px;
    top: calc(50% - 16px);
    transition: right 0.4s;
}
.button:hover:before {
    right: 13px;
}
.action_to_call {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #E00000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s;
}
.action_to_call:before {
    content: '\e901';
    font-size: 27px;
    color: #fff;
}
.action_to_call:hover {
    transform: scale(1.1);
}
.pb {
    padding-bottom: 120px;
}
h1,
.title1,
h2,
.title2,
h3,
.title3 {
    font-family: 'Federov2';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: #0C194A;
}
h1,
.title1 {
    font-size: 48px;
}
h2,
.title2{
    font-size: 40px;
}
h3,
.title3 {
    font-size: 36px;
}
.link {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.3;
    color: #0063E0;
    position: relative;
    padding-right: 40px;
    display: inline-block;

}
.link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40px;
    height: 1px;
    background-color: #0063E0;
}
.link:before {
    content: '\e905';
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 32px;
    position: absolute;
    right: 0;
    top: -5px;
    transition: right 0.4s;
}
.link:hover:before {
    right: -10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center {
    text-align: center;
}
.slider_arrow {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 35px);
    color: #0063E0;
}
.slider_arrow:before {
    font-size: 70px;
}
.slider_prew {
    left: -8px;
    transition: left 0.4s;
}
.slider_prew:hover {
    left: -18px;
}
.slider_prew:before{
    content: '\e904';
}
.slider_next {
    right: -8px;
    transition: right 0.4s;
}
.slider_next:before{
    content: '\e905';
}
.slider_next:hover {
    right: -18px;
}
.wpcf7-text,
.wpcf7-textarea {
    border: 1px solid #CDD5E4;
    width: 100%;
    transition: border 0.4s;
    outline: 0 !important;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: #636A83;
}
.wpcf7-text::placeholder,
.wpcf7-textarea::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: #636A83;
}
.wpcf7-text {
    height: 55px;
    padding: 0 18px ;
    width: 100%;
}
.wpcf7-textarea {
    height: 120px;
    padding: 16px;
}
.wpcf7-text:focus,
.wpcf7-text:active,
.wpcf7-textarea:focus,
.wpcf7-textarea:active {
    border: 1px solid #0063E0;
}
.wpcf7-submit {
    outline: 0;
    border: 1px solid #0063E0;
    background-color: #0063E0;
    padding: 25px;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: color 0.4s, background-color 0.4s;
}
.wpcf7-submit:hover {
    background-color: #ffffff;
    color: #0063E0;
}
.wpcf7-form-control-wrap {
    width: 100%;
    margin-top: 24px;
}
.wpcf7-form-control-wrap p {
    font-size: 14px;
    line-height: 1.5;;
}
.paralax div{
    width: 100%;
    min-height: 520px;
    background: transparent;
}

/* Header style */
.header {
    padding: 18px 0;
}
.header .flex {
    align-items: center;
}
.logo {
    width: 135px;
    display: inline-block;
    line-height: 0;
    transition: transform 0.4s;
}

.header_partner {
    width: 114px;
    margin-left: 36px;
    display: inline-block;
    line-height: 0;
    transition: transform 0.4s;
}
.header .logo:hover,
.header_partner:hover {
    transform: scale(1.1);
}
.header .logo img,
.header_partner img {
    width: 100%;
}
.header_application {
    border: 1px solid #0063E0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #0063E0;
    padding: 13px 15px 13px 37px;
    position: relative;
    transition: color 0.4s, background-color 0.4s;
}
.header_application:before {
    content: '\e901';
    position: absolute;
    font-size: 13px;
    left: 13px;
    top: calc(50% - 7px);
}
.header_application:hover {
    background-color: #0063E0;
    color: #ffffff;
}

/* Home style */
.homeabout {
    overflow-x: hidden;
}
.homeabout_left {
    width: 460px;
}
.homeabout_left .line_block p {
    color: #0C194A;
    font-weight: 400;
}
.homeabout_right {
    width: calc(100% - 510px);
    position: relative;
}
.homeabout_right img {
    width: 750px;
    max-width: none;
    margin-top: 76px;
}
.homeabout_fon {
    width: 432px;
    height: 139px;
    background: url('../img/cloud.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeabout_left h1,
.homeabout_left .title1 {
    padding-bottom: 8px;
}
.homeabout .button {
    margin-top: 24px;
}
.homeabout .action_to_call {
    position: absolute;
    bottom: 0;
    right: 0;
}
.homevideo_left {
    width: 545px;
    height: 305px;
    position: relative;
}
.homevideo_left .target_video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.homevideo_right {
    width: calc(100% - 575px);
}
.homevideo_right h2,
.homevideo_right .title2 {
    padding-bottom: 24px;
}
.homevideo_right .link {
    margin-top: 38px;
}
.homeplan_col {
    margin-bottom: 12px;
}
.homeplan_col,
.homeplan_item {
    width: calc(50% - 16px);
}
.homeplan_item {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.homeplan_item .line_block span {
    color: #0C194A;
}
.homeplan_item .line_block p {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homeplan_item .line_block p:last-child {
    margin-bottom: 0;
}
.homeplan_item-image {
    width: 100%;
    height: 440px;
    margin-bottom: 24px;
    overflow: hidden;
    display: inline-block;
}
.homeplan_item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s;
}
.homeplan_item-image:hover img {
    transform: scale(1.1);
}
.homeplan_item h3,
.homeplan_item .title3 {
    width: 170px;
}
.homeplan_item .line_block {
    width: calc(100% - 180px);
}
.homeadvantages_item {
    width: calc(33.333% - 58px);
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.homeadvantages_item img {
    width: 48px;
    height: 48px;
}
.homeadvantages_item p {
    width: calc(100% - 48px);
    padding-left: 16px;
    font-size: 18px;
    line-height: 1.5;
    color: #0C194A;
}
.homegalery .link {
    align-self: flex-end;
}
.homegalery_item {
    width: calc(50% - 16px);
    margin-top: 32px;
}
.homegalery_item:nth-child(5n+1),
.homegalery_item:nth-child(5n+2),
.homegalery_item:nth-child(5n+3) {
    width: calc(33.333% - 21px);
}
.homegalery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hometd_left {
    width: calc(50% - 111px);
}
.hometd_right {
    width: calc(50% + 79px);
}
.hometd .link {
    margin-top: 8px;
}
.homeblogs .link {
    align-self: flex-end;
}
.homeblogs_item {
    width: calc(50% - 16px);
    margin-top: 32px;
}
.homeblogs_item-image {
    width: 100%;
    height: 440px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 24px;
}
.homeblogs_item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s;
}
.homeblogs_item-image:hover img {
    transform: scale(1.1);
}
.homeblogs_item-data {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 8px;
    color: #636A83;
}
.homeblogs_item-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 24px;
    color: #636A83;
}

/* Footer style */
.footer .logo {
    width: 160px;
    margin-bottom: 8px;
    transition: opacity 0.4s;
}
.footer .logo:hover {
    opacity: 0.6;
}
.footer .link {
font-weight: 500;
}
.footer_col {
    display: flex;
    flex-direction: column;
}
.footer .menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 33px;
    width: 275px;
    margin-left: 50px;
}
.footer .menu li {
    width: calc(50% - 30px);
}
.footer .menu li:first-child a {
    padding-left: 0;
}
.menu li:first-child a:before {
    left: -33px;
}

.footer_developer {
    background-color: #F7FAFF;
    padding:20px 0 24px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.footer_developer a {
    width: 189px;
}
.footer_developer img {
    width: 100%;
    transition: opacity 0.4s;
}
.footer_developer a:hover img {
    opacity: 0.6;
}
.footer_info:first-child {
    margin-right: 24px;
}
.footer_info p {
    font-size: 16px;
    line-height: 1.3;
    color: #636A83;
    margin-bottom: 8px;
}
.footer_info a {
    font-size: 16px;
    line-height: 1.3;
    color: #0C194A;
    margin-bottom: 8px;
    transition: color 0.4s;
}
.footer_info a:last-child {
    margin-bottom: 0;
}
.footer_info a:hover {
    color: #0063E0;
}
.footer_social {
    margin-top: 24px;
    display: flex;
}
.footer_social a {
    margin-right: 16px;
    display: inline-block;
    line-height: 0;
}
.footer_social a:last-child {
    margin-right: 0;
}
.footer_social  a svg path {
    transition: fill 0.4s;
}
.footer_social a:hover svg path{
    fill: #0063E0;
}

/* House style */
.househeader {
    margin-top: 60px;
    padding-bottom: 40px;
}
.househeader h1,
.househeader .title1 {
    width: 280px;
}
.househeader .line_block {
    width: calc(100% - 290px)
}
.househeader .line_block p {
    font-size: 16px;
    line-height: 1.5;
}
.housethumbnail {
    margin-bottom: 60px;
}
.planningnav_slider {
    padding: 40px 66px;
}
.planningnav_slider-item {
    text-align: right;
    padding: 0 13px;
}
.planningnav_slider-item img {
    width: 100%;
    margin-bottom: 8px;
}
.planningslider_main {
    padding: 0 96px 45px;
}
.planningslider_nav {
    margin: 0 -16px;
}
.planningslider_nav-item {
    padding: 0 16px;
    cursor: pointer;
    transition: opacity 0.4s;
}
.planningslider_nav-item:hover {
    opacity: 0.8;
}
.othertype_slider {
    margin: 40px -16px 0;
}
.othertype_slider .homeplan_item {
    padding: 0 16px;
}
.othertype_slider .slider_arrow {
    top: 185px;
    z-index: 2;
}
.othertype_slider .slider_prew {
    left: -70px;
}
.othertype_slider .slider_next {
    right: -70px;
}
.othertype_slider .slider_prew:hover {
    left: -80px;
}
.othertype_slider .slider_next:hover {
    right: -80px;
}
/* About style */
.aboutheader {
    margin-top: 60px;
    padding-bottom: 30px;
}
.aboutheader h1,
.aboutheader .title1 {
    width: 575px;
}
.aboutheader .line_block {
    width: calc(100% - 585px);
    margin-top: 13px;
}
.aboutheader .line_block p {
    font-size: 18px;
    line-height: 1.5;
}
.aboutcontent_item {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.aboutcontent_item-img {
    width: calc(50% - 16px);
    height: 290px;
}
.aboutcontent_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutcontent_item .line_block {
    width: calc(50% - 16px);
}
.aboutcontent_item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 18px;
}
.aboutcontent_item p:last-child {
    margin-bottom: 0;
}
.aboutcontent_item:nth-child(2n+1) .aboutcontent_item-img {
    order: 2;
}

/* Form style */
.formthumbnail {
    margin-bottom: 24px;
}
.formthumbnail p {
    margin-top: 8px;
}
.formthumbnail_item{
    width: 100%;
    min-height: 245px;
    background: transparent;
}
.formtcontent {
    padding-bottom: 60px;
}
.formtcontent .col_left {
    width: 450px;
}
.formtcontent .col_right {
    width: calc(100% - 482px);
}
.formtcontent_phonelink {
    font-family: 'Federov2';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #0C194A;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}
.formtcontent_phonelink:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #0C194A;
    transition: width 0.4s;
}
.formtcontent_phonelink:hover:after {
    width: 100%;
}
.formtcontent .col_left .line_block {
    margin-bottom: 75px;
    margin-top: 60px;
}
.formtcontent .col {
    width: calc(50% - 12px);
}
.formmap {
    width: 100%;
    height: 215px;
    margin-bottom: 15px;
}
.formmap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Page style */
.pageheader {
    padding: 60px 0 24px;
}
.pageheader h1,
.pageheader .title1 {
    max-width: 825px;
}
.pageheader p {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #0C194A;
}
.pagecontent {
    padding-top: 60px;
}
.pagecontent p,
.pagecontent li,
.pagecontent ul,
.pagecontent ol {
    margin-bottom: 24px;
}
.pagecontent li:last-child {
    margin-bottom: 0;;
}
.pagecontent ul,
.pagecontent ol {
    padding-left: 18px;
}
.pagecontent .line_block {
    margin-top: 40px;
    margin-bottom: 36px;
    padding-right: 95px;
}
.pagecontent .line_block img {
    width: 100%;
    margin-bottom: 24px;
}
.pagecontent .line_block:last-of-type {
    margin-bottom: 0;
}
